<h1>Editing Student</h1>

<%= form_for(@student, :url => { :action => 'update' }, :html => { :method => :put}) do |f| %>
    <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% @student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :code %><br>
      <%= f.text_field :code %>
    </div>
    <div class="field">
      <%= f.label :identification %><br>
      <%= f.text_field :identification %>
    </div>
    <div class="field">
      <%= f.label :full_name %><br>
      <%= f.text_field :full_name %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %><br>
      <%= f.date_select :date_of_birth %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </div>
    <div class="actions">
      <%= f.submit 'Update student' %>
    </div>
<% end %>

<%= link_to 'Show', student_path(@student.id) %> |
<%= link_to 'Back', students_path %>
