<%= form_for(@career, html: { class: 'form-horizontal center' }, validate: true ) do |f| %>
  <% if @career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@career.errors.count, "error") %> prohibited this career from being saved:</h2>

      <ul>
      <% @career.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code, class: "col-sm-3 control-label" %><br>
    <div class="col-sm-4">
      <%= f.text_field :code , :class=>"form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :quantity_credits %><br>
    <%= f.number_field :quantity_credits %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="form-group">
    <%= f.label :semester %><br>
    <%= f.number_field :semester %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>