<h1>Editing Career</h1>

<%= form_for(@career,:url => { :action => 'update' }, :html => { :method => :put}) do |f| %>
    <% if @career.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@career.errors.count, "error") %> prohibited this career from being saved:</h2>

          <ul>
            <% @career.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :code %><br>
      <%= f.text_field :code %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :quantity_credits %><br>
      <%= f.number_field :quantity_credits %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </div>
    <div class="field">
      <%= f.label :semester %><br>
      <%= f.number_field :semester %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Show', career_path(@career.id) %> |
<%= link_to 'Back', careers_path %>
