<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @teacher.code %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @teacher.identification %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @teacher.full_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @teacher.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Office:</strong>
  <%= @teacher.office %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @teacher.phone_number %>
</p>

<p>
  <strong>Amount hour:</strong>
  <%= @teacher.amount_hour %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher.id) %> |
<%= link_to 'Back', teachers_path %>
