<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <a href="<%= dashboard_index_url %>"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
      <a href="<%= careers_url %>"><i class="fa fa-fw fa-bar-chart-o"></i> Careers</a>
    </li>
    <li>
      <a href="<%= subjects_url %>"><i class="fa fa-fw fa-table"></i> Subjects</a>
    </li>
    <li>
      <a href="<%= students_url %>"><i class="fa fa-fw fa-edit"></i> Students</a>
    </li>
    <li>
      <a href="<%= teachers_url %>"><i class="fa fa-fw fa-desktop"></i> Teachers</a>
    </li>
    <li>
      <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Configuration <i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="demo" class="collapse">
        <li>
          <a href="<%= users_url %>">Users</a>
        </li>
        <li>
          <a href="<%= rols_url %>">Rols</a>
        </li>
        <li>
          <a href="<%= scores_url %>">Scores</a>
        </li>
      </ul>
    </li>
  </ul>
</div>